<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data" style="padding-top: 10rem; padding-left: 10rem;">
        <label style="font-size:xx-large;">Enter the file:</label>
        <input type="file" name="filename">
        <button type="submit">Upload</button>
    </form>
</body>
</html>